@dropdown-prefix: ~"@{prefix}dropdown";
.@{dropdown-prefix} {
  z-index: @zindex-select;
  &-inner {
    transition: all .25s cubic-bezier(.24, .22, .015, 1.56);
    transform: scale(.8);
    max-height: 500px;
    opacity: 0;
    padding: 3px 0;
  }
  &[aria-hidden=false] .@{dropdown-prefix}-inner {
    transform: scale(1);
    opacity: 1;
  }

  &[x-placement=top-start] .@{dropdown-prefix}-inner {
    transform-origin: bottom left;
  }
  &[x-placement=bottom-start] .@{dropdown-prefix}-inner {
    transform-origin: top left;
  }
}