@select-prefix: ~"@{prefix}select";
@select-item-prefix: ~"@{select-prefix}-item";
@select-check-prefix: h-icon-check;
@select-close-prefix: h-icon-close;
.@{select-prefix} {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  .@{select-prefix} {
    &-placeholder{
      color: @gray-color;
    }


    &-value-single, &-placeholder{
      line-height: @input-height - 6px;
      height: @input-height - 6px;
      padding-left: 5px;
    }

    &-show{
      .rotate-icon-down();
      position: relative;
      .text-hover();
      cursor: default;
      line-height: @line-height;
      padding-right: 30px;
    }

    &-multiple-tags {
      >span{
        .tag-span-func();
      }
    }
  }

  &-no-autosize {
    display: block;
    .@{select-prefix}-show{
      min-height: @input-height;
    }
  }
  &-input-border &-show{
    .border-input();

    .@{prefix}form-item-valid-error &{
      border-color: @red-color;
      &.@{pop-ref-prefix}{
        box-shadow: 0 0 0 2px fade(@red-color, 20%);
      }
    }
  }
  &-input-no-border &-show{
    padding: 3px 30px 3px 2px;
  }

  

  &-disabled &-show{
    .border-input-disabled();
  }

  &-multiple &-show{
    padding: 2px 30px 0px 2px;
  }
}

.@{select-prefix}-group {
  outline: none;
  user-select: none;
  position: relative;
  font-size: @font-size-mini;
  background-color: @white-color;
  padding: 5px 0px;
  &-container{
    .@{select-prefix}-list{
      max-height: 300px;
      overflow-y: auto;
    }
  }
  .@{select-item-prefix} {
    .li-hover();
    padding: 8px 10px;
    position: relative;
    &.@{select-item-prefix}-selected {
      color: @white-color;
      background-color: @primary-color;
    }
  }

  .@{select-prefix}-search-input{
    width: 98%;
    margin: 3px 1%;
  }

  &.@{select-prefix} {
    &-multiple {
      .@{select-item-prefix} {
        padding-right: 40px;
        .@{select-check-prefix} {
          display: none;
          position: absolute;
          right: 10px;
          font-weight: bold;
        }
        &-selected {
          color: @primary-color;
          background-color: transparent;
          .li-hover();
          .@{select-check-prefix} {
            display: inline-block;
          }
        }
      }
    }
  }
}