@select-prefix: ~"@{prefix}select";
@select-item-prefix: ~"@{select-prefix}-item";
@select-check-prefix: h-icon-check;
@select-close-prefix: h-icon-close;
.@{select-prefix} {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  .@{select-prefix} {
    &-placeholder{
      color: @gray-color;
    }
    &-show{
      .rotate-icon-down();
      position: relative;
      // .text-hover();
      cursor: default;
      line-height: @line-height;
      padding: 4px 30px 4px 10px;
    }

    &-multiple-tags {
      >span{
        color: @primary-color;
        .tag-span-func();
        border: 1px solid @white-color;
        background-color: lighten(@primary-color, 35%);
        font-size: 12px;
        padding: 2px 8px;
      }
    }
  }

  &-no-autosize {
    width: 100%;
    .@{select-prefix}-show{
      min-height: @input-height;
    }
  }
  &-input-border {
    .@{select-prefix} {
      &-show{
        .border-input();
        padding: 4px 30px 4px 10px;

        .@{prefix}form-item-valid-error &{
          border-color: @red-color;
          &.@{pop-ref-prefix}{
            box-shadow: 0 0 0 2px fade(@red-color, 20%);
          }
        }
      }
    }
  }

  &-disabled{
    .@{select-prefix}-show{
      .border-input-disabled();
    }
  }

  &-multiple {
    .@{select-prefix} {
      &-show{
        padding: 2px 30px 0px 2px;
      }
      &-placeholder{
        padding: 2px 0 0 5px;
      }
    }
  }
}

.@{select-prefix}-group {
  outline: none;
  user-select: none;
  position: relative;
  font-size: @font-size-mini;
  background-color: @white-color;
  padding: 5px 0px;
  &-container{
    max-height: 300px;
    display: flex;
    flex-direction: column;

    .@{select-prefix}-ul{
      flex:1;
      overflow-y: auto;
    }
  }
  .@{select-item-prefix} {
    .li-hover();
    padding: 8px 10px;
    position: relative;
    &.@{select-item-prefix}-selected {
      color: @white-color;
      background-color: @primary-color;
    }
  }

  .@{select-prefix}-search-input{
    width: 98%;
    margin: 3px 1%;
  }

  &.@{select-prefix} {
    &-multiple {
      .@{select-item-prefix} {
        padding-right: 40px;
        .@{select-check-prefix} {
          display: none;
          position: absolute;
          right: 10px;
          font-weight: bold;
        }
        &-selected {
          color: @primary-color;
          background-color: transparent;
          .li-hover();
          .@{select-check-prefix} {
            display: inline-block;
          }
        }
      }
    }
  }
}