@select-prefix: ~"@{prefix}select";
@select-item-prefix: ~"@{select-prefix}-item";
@select-group-prefix: ~"@{select-prefix}-group";
@select-check-prefix: h-icon-check;
@select-close-prefix: h-icon-close;
.@{select-prefix} {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: @font-size;
  line-height: normal;
  width: 100%;
  .@{select-prefix} {
    &-input{
      cursor: default;
      padding: 4px 30px 4px 10px;
      position: relative;
      min-height: 30px;
      font-size: inherit;
      line-height: inherit;
      box-sizing: border-box;
      -webkit-appearance: none;
      font-family: inherit;
      outline: none;
      .rotate-icon-down();
    }
    &-input-border {
      background-color: @white-color;
      border-radius: @border-radius;
      border: @input-border;
      vertical-align: top;
      transition: all linear @transition-time;
      &:hover {
        border-color: lighten(@primary-color, 10%);
      }
      &.@{pop-ref-prefix} {
        border-color: @primary-color;
        box-shadow: 0 0 0 2px fade(@primary-color, 20%);
      }
    }
  }
}

.@{select-group-prefix} {
  display: block;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  position: relative;
  font-size: @font-size-mini;
  box-shadow: @box-shadow;
  background-color: @white-color;
  border-radius: @border-radius;
  padding: 5px 0px;
  max-height: 300px;
  overflow-y: auto;
  .@{select-item-prefix} {
    .li-hover();
    padding: 8px 10px;
    position: relative;
    &.@{select-item-prefix}-selected {
      color: @white-color;
      background-color: @primary-color;
    }
  }
  &.@{select-prefix} {
    &-mutiple {
      .@{select-item-prefix} {
        padding-right: 40px;
        .@{select-check-prefix} {
          display: none;
          position: absolute;
          right: 10px;
          font-weight: bold;
        }
        &-selected {
          color: @primary-color;
          background-color: transparent;
          .li-hover();
          .@{select-check-prefix} {
            display: inline-block;
          }
        }
      }
    }
  }
}