@tag-prefix: ~"@{prefix}tag";
@tag-close-prefix: h-icon-close;
.@{tag-prefix} {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin: 2px 4px 2px 0;
  padding: 0 8px;
  border: @border;
  border-radius: @border-radius;
  background: @white-color;
  font-size: @font-size-mini;
  vertical-align: middle;
  opacity: 1;
  overflow: hidden;
  cursor: pointer;
}