@dropdowncustom-prefix: ~"@{prefix}dropdowncustom";
.@{dropdowncustom-prefix} {
  display: inline-block;
  &-show{
    position: relative;
    &-toggle{
      padding-right: 26px;
    }
    .rotate-icon-down(false);
  }
}

.h-text-dropdown{
  cursor: pointer;
  &>span{
    transition: @transition-time;
    vertical-align: middle;
  }
  &:hover, &.@{pop-ref-prefix}{
    color: @primary-color;
  }
}