@input-prefix: ~"@{prefix}input";
@input-base-padding: @input-height / 4;

input.h-input, .h-textarea{
  .h-func-input();
}

input.h-input{
  height: @input-height;
}

.h-textarea{
  padding: @input-base-padding;
}