@import (less) "./style.less";

[class^="h-icon-"], [class*=" h-icon-"] {
  font-size: inherit;
  display: inline-block;
}
.h-icon-loading, .h-icon-spinner {
  animation: ani-load-loop 1s linear infinite;
}