@import (less) "./style.less";

[class^="h-icon-"], [class*=" h-icon-"] {
  font-size: inherit;
  display: inline-block;
  vertical-align: -1px;
}
.h-icon-loading, .h-icon-spinner {
  animation: h-ani-loading-loop 1s linear infinite;
}

@keyframes h-ani-loading-loop {
  from { transform: rotate(0deg);}
  50%  { transform: rotate(180deg);}
  to   { transform: rotate(360deg);}
}